/* utilisation tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  grid-area: button;
  width:25%;
  padding: 0 1rem;
  color: white;
  font-weight: bold;
  border-radius: 0.25rem;
  border:2px solid;
  transform: translateX(0%);
  cursor: pointer;
  box-sizing: border-box;
}

/* cards display with hover animation*/

.imageCard { 
  transition: all .15s ease-in-out; 
}

.imageCard:hover {
  transform: scale(1.08);
}

/* likes btn */

#myLikesBtn{
  --tw-shadow-color: #f472b6;
  margin-bottom:1.5rem;
  width: fit-content(100%);
  font-weight: 700;
  box-sizing: border-box;
  border-width: 2px;
  padding: 1rem 1.5rem;
  background-color: rgb(251 207 232);
  border-color: rgb(156 163 175);
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
}